USE [master]
GO
/****** Object:  Database [mymovieDB]    Script Date: 7/23/2022 2:22:00 PM ******/
CREATE DATABASE [mymovieDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mymovieDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\mymovieDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mymovieDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\mymovieDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mymovieDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mymovieDB]
GO
/****** Object:  Table [dbo].[AddMovie]    Script Date: 7/23/2022 2:22:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddMovie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MovieName] [nvarchar](100) NULL,
	[MovieImage] [nvarchar](100) NULL,
 CONSTRAINT [PK_AddMovie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinalBooking]    Script Date: 7/23/2022 2:22:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinalBooking](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MovieName] [nvarchar](100) NULL,
	[NoOfTickets] [int] NULL,
	[Gender] [varchar](100) NULL,
	[Age] [int] NULL,
	[Date] [date] NULL,
	[Time] [nvarchar](100) NULL,
	[Meal] [varchar](100) NULL,
	[TotalFare] [decimal](18, 2) NULL,
 CONSTRAINT [PK_FinalBooking] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyBooking]    Script Date: 7/23/2022 2:22:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyBooking](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Movie Name] [nvarchar](100) NULL,
	[Email id] [nvarchar](100) NULL,
	[Date] [date] NULL,
	[Time] [nvarchar](100) NULL,
	[Gender] [varchar](100) NULL,
	[Age] [int] NULL,
	[Meal] [varchar](100) NULL,
	[no.of tickets] [int] NULL,
 CONSTRAINT [PK_MyBooking] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbllogin]    Script Date: 7/23/2022 2:22:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbllogin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[IsAdmin] [int] NULL,
 CONSTRAINT [PK_Tbllogin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblRegister]    Script Date: 7/23/2022 2:22:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblRegister](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[MobileNumber] [int] NULL,
 CONSTRAINT [PK_TblRegister] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AddMovie] ON 

INSERT [dbo].[AddMovie] ([Id], [MovieName], [MovieImage]) VALUES (1, N'Avengers', N'Avengers.jpg')
INSERT [dbo].[AddMovie] ([Id], [MovieName], [MovieImage]) VALUES (2, N'Brahmastra', N'Brahmastra.jpg')
INSERT [dbo].[AddMovie] ([Id], [MovieName], [MovieImage]) VALUES (3, N'Master', N'Master.jpg')
SET IDENTITY_INSERT [dbo].[AddMovie] OFF
GO
USE [master]
GO
