/* You can add global styles to this file, and also import other style files */
.nav_style:hover{
   color: blue !important;
   border: 0px solid black;
   box-shadow: 5px 5px 15px black;
   border-radius: 5px;
   }
   .login_style{
       box-shadow: 5px 5px 20px black;
   }
   .sign{
       padding: 5px 35px;
       font-size: 20px;
       font-weight: 900px !important;
   }
   .sign:hover{
       color: blue;
       border: 1px solid blue;
       background-color: white;
   }
   .login{
       font-weight: bolder;
       font-size: 35px;
   }
   .pass{
       font-weight: bold;
   }
   .reg{
       padding: 30px;
   }
   .box_input{
       width: 240px;
    }
    .btn-log{
       background-color: blue;
       color: white;
       padding: 5px 50px;
       margin-left: 65px;
       font-weight: 700;
    }
    .btn-log:hover{
       color: blue;
      background-color: white;
    }
    .style_card{
       border: 0;
       box-shadow: 5px 5px 15px;
       margin-left: 20px;
       text-align: center;
       font-weight: 800px;
       font-size: 22px;
    }
    .style_card:hover{
       border: 0;
       box-shadow: 5px 5px 15px black;
       padding: 10px;
    }
    .movies{
       padding-top: 40px;
       color:maroon;
       font-size: 40px;
    }
    .footer{
       background-color: black;
       color: white;
       padding: 50px 40px;
    }
    .contact{
       background-color: #E0837E;
       padding: 5px 20px;
       color: white;
       font-weight: bold;
    }
    .top{
       margin-top: 100px !important;
    }
    .book{
       color: white;
       background-color: blue;
       font-weight: 700;
    }
    .book:hover{
       color: blue;
       background-color: white;
       border: 1px solid blue;
    
    }
    .book2{
       font-size: 35px;
       font-weight: bold;
       color: white;
       background-color: brown;
       border-radius: 5px;
    }
    .book2:hover{
       color: brown;
       background-color:transparent;
    }
    .account{
       box-shadow: 5px 5px 15px;
       margin-top:120px;
       padding: 7px 60px;
    }
    .my_acc{
       font-size:30px ;
    }
    .delete{
       margin-left: 10px;
    }
    .name{
       font-size: 30px;
       text-align: center;
    }
    .check{
       padding: 10px 50px;
       margin-top: 20px;
       font-size: 25px;
    }
    .details{
       box-shadow: 5px 5px 20px black;
    }
   
    .circle{
      background-color: blue;
      padding: 5px 30px;
    }
    .circle:hover{
      background-color: white;
    border: 1px solid blue;
    }
    .total{
      color: white;
    }
    .total:hover{
      color: blue;
    }